.container {
  height: 700px;
  border: 1px solid red;
  background-color: yellow;
  display: grid;
  gap: 10px;
  grid-auto-rows: minmax(400px, 600px);
  /* grid-template-rows: repeat(2,1fr); */
  grid-template-columns: repeat(3, 1fr);
}
.box {
  border: 1px solid green;
  background-color: aqua;
}
